---
interface Props {
	title: string;
}

const { title } = Astro.props;
import '../styles/global.css';
---

<!doctype html>
<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="GEE Pro Suite for ArcGIS Pro - The Ultimate Earth Engine Integration" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="/styles.css">
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
	}
    /* Smooth Scrollbar */
    ::-webkit-scrollbar {
        width: 10px;
    }
    ::-webkit-scrollbar-track {
        background: #0B0F19; 
    }
    ::-webkit-scrollbar-thumb {
        background: #3B82F6; 
        border-radius: 5px;
    }
    ::-webkit-scrollbar-thumb:hover {
        background: #10B981; 
    }
</style>
